body{
    background-color: #A9A9A9;
    background-repeat: no-repeat;
    color: white;
    margin: 0px;
    background-size:cover;
    font-family: Arial;
}
hr{
    color: rgb(171,146,74);
    margin: 20px;
}
.gameplay{
    padding-right: 70px;
    padding-left: 20px;
    padding-bottom: 50px;
}
.listGameplay{
    font-family: 'Bungee', cursive;
}
.apartado{
    margin-top: 100px;
    text-align: left;
}
.apartadoGemas{
    margin-top: 100px;
    text-align: left;
    margin-left: 20px;
}
.gemas{
    margin-left: auto;
    margin-right: auto;
}
#parrafoGemas{
    margin-left: 50px;
    margin-right: 50px;
}
.imgGemas{
    float: left;
}
.tablaGemas{
    display: table;
}

.fila{
    display: table-row;
    border: 10px solid red; 
}
.columna{
    display: table-cell;
    vertical-align: top;
}
.columnaParrafo{
    display: table-cell;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
}

header{
    background-color: rgb(171,146,74, .9);
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    top: 0;
    left: 0;
    width: 100%;
}
#video{
    margin: 50px;
}
#videoHome{
    width: 560px; 
    height: 360px;
}
.contenido{
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: rgb(0, 0, 0, .9);
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
}
.navegacion{
    list-style-type: none;
    display: inline;
    margin: 10px 10px 0px 10px;
}
td{
    margin: auto;
}

.imgs{
    margin: auto;
    border-spacing: 30px;
}
.imgjuego{
    width: 100%;
    max-width: 300px;
    height: auto;
}
.imgheroe{
    width:80px;
    height:80px;
    border-radius:150px;
}
.nombreheroe{
    text-align: center;
    font-family: 'Bungee', cursive;
}
.home{
    border: 2px solid rgb(171,146,74); 
    border-radius: 8px;
    margin-top: 50px;
}
.heroes{
    border: 2px solid rgb(171,146,74); 
    border-radius: 8px;
    margin-top: 50px;
}
.barra{
    width: 100%;
    max-width: 500px;
    height: auto;
    padding-top: 0px;
    margin-top: 0px;
}

.imagenCabecera{
    display:block;
    margin:auto;
    max-width: 500px;
}

.imagenesCartas, .imagenesHome{
    border: 2px solid rgb(171,146,74); 
    border-radius: 8px;
    margin-top: 50px;
}
.videoHeroe{
   width: 450px; 
   float: right;
}
.cont{
    margin: 20px;
}
.volver{
    border: 2px solid rgb(171,146,74); 
    border-radius: 8px;
    margin-top: 50px;
    color: white;
}
.volvertx{
    color: white;
}
.volver:hover{
      background-color: #444;
}
.navbarParches{
    position: fixed;
    right: 100px; 
    top: 25%; 
    border: 2px solid #cccccc;
    bottom: 30;
    width: 25%;
    text-align: left;
    margin: 30px;
    background-color: #003333;
}
.listaParches{
    margin-bottom: 15px;
}
.parche{
    text-align: left;
    padding-top: 30px;
    padding-left: 30px; 
    margin-right: 50%;
}
.nomParche{
    border-bottom: 2px solid white;
    margin-right: 50%;
}

.info{
    text-align: center;
}
.redes{
    padding-top: 30px;
    font-family: 'Bungee', cursive;
    padding-left: 20px;
    border-spacing: 10px;
}

footer{
    background-color: #003333;
    top: 0px;
    padding-bottom: 20px;
}

/*navbar*/

.navUl {
  list-style-type: none;
  
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: 'Righteous', cursive;
}

.navLi {
  float: left;
}

.navLi a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navLi a:hover {
  background-color: #111;
}

#active {
  background-color: rgb(171,146,74);

}
